:root {
  --blue: #006ab4;
  --red: #dd3c4a;
  --yellow: #fecf22;
  --white: #ffffff;
}

body {
  overflow: hidden;
}

.wrapper {
  display: flex;
}

.main-content {
  padding: 24px;
  padding-top: 100px;
  padding-bottom: 100px;
  flex-grow: 1;
  height: 100vh;
  overflow: auto;
}

.circle-border {
  border-radius: 50%;
  padding: 8px;
  margin-right: 15px;
}

.bg-red {
  background-color: var(--red);
  color: var(--white);
}

.bg-yellow {
  background-color: var(--yellow);
  color: var(--white);
}

.bg-blue {
  background-color: var(--blue);
  color: var(--white);
}

.text-blue {
  color: var(--blue);
}

.text-center {
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media only screen and (max-width: 600px) {
  .main-content {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
